@import 'variables';

body {
  background-color: $my-body-bg;
}
#main {
  img.logo { width: 71px; }
}
#footer {
  font-size: 17px;
}

.uk-container {
  @media (max-width: 767px) {
    padding: 0;
  }

  .title {
    color: #000;
    font-size: 24px;
    vertical-align: middle;
    font-weight: 900;
  }
}

.uk-visible-small {
  .title {
    font-size: 19px;
  }
}

