@import 'variables';

body {
  background-color: $my-body-bg;
}
#main {
  img.logo { width: 71px; }
}
#footer {
  font-size: 17px;
}

.uk-container {
  @media (max-width: 767px) {
    padding: 0;
  }
}

