.uk-border-radius-10 {
  border-radius: 10px;
}

.topic-content {
  word-wrap: break-word;
  line-height: 24px;
  font-size: 15px;
  color: #404040;

  a {
    color: #5e5e5e;

    &:hover {
      color: #909090;
      text-decoration: none;
    }
  }
}
